@import '{}/imports/ui/stylesheets/utils.less';

.page.auth {
  text-align: center;

  .content-scrollable { background: @color-tertiary; }

  .wrapper-auth {
    padding-top: 4em;
    margin: 0 1em;

    @media screen and (min-width: 40em) {
      margin: 0 auto;
      max-width: 480px;
      width: 80%;
    }

    .logo {
      .font-l1;
      .type-light;
      color: @color-ancillary;
      margin-bottom: 1rem;
      font-size: 44px;
      font-style: italic;
    }

    .logo-image {
      background: #fff;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 10px;
    }

    .logo-trip {
      font-weight: bold;
    }

    .title-auth {
      .font-l1;
      .type-light;
      color: @color-ancillary;
      margin-bottom: .75rem;
    }

    .subtitle-auth {
      color: @color-medium-well;
      margin: 0 15% 3rem;
    }

    form {
      .input-symbol {
        margin-bottom: 1px;
        width: 100%;
      }
    }

    button {
      width: 100%;
      margin-bottom: 1em;

      @media screen and (min-width: 40em) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      i {
        margin-right: 15px;
      }
    }

    .btn-facebook {
      background: #3b5998;
    }

    .btn-google {
      background: #DF4A32;
    }

    .list-errors {
      margin-top: -2rem;
      .list-item {
        .title-caps;
        background: @color-note;
        color: @color-negative;
        font-size: .625em; // 10px
        margin-bottom: 1px;
        padding: .7rem 0;
      }
    }
  }

  .link-auth-alt {
    .font-s1;
    .position(absolute, auto, 0, 1em, 0);
    color: @color-medium;
    display: inline-block;

    @media screen and (min-width: 40em) {
      bottom: 0;
      margin-top: 1rem;
      position: relative;
    }
  }
}
