@import '{}/imports/ui/stylesheets/utils.less';

.loading-app {
  .position(absolute, 50%, 50%, auto, auto, 50%);
  transform: translate3d(50%, -50%, 0);
  min-width: 160px;
  max-width: 320px;
  opacity: .5;
}
