@import '{}/imports/ui/stylesheets/utils.less';

.user-menu {
  margin: 1rem;
  margin-top: 2.5rem;
  text-align: center;

  .btn-secondary {
    .font-s0;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 110px;
  }

  &.vertical .btn-secondary {
    .force-wrap;
    padding-right: 2.5em;
    text-align: left;
    text-indent: 0;
    white-space: normal; // Resets wrapping
    width: 100%;

    & + .btn-secondary {
      margin-top: .5rem;

      &:before {
        .position(absolute, -.5rem, 50%, auto, auto, 1px, .5rem);
        background: lighten(#517096, 5%);
        content: '';
      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      .position(absolute, .5em, .5em, auto, auto);
      line-height: 20px;
    }
  }

  .upgrade-chip {
    background: #00a5d2 !important;
    margin: 15px auto !important;

    span {
      color: @color-secondary !important;
    }
  }

  .display-name {
    display: block;
    color: @color-secondary;
    letter-spacing: 1px;
    font-weight: bold;
  }

  .display-title {
    color: @color-beta;
    font-size: .9em;
  }

  .btn-logout {
    font-size: .8em;
  }
}
