@import '{}/imports/ui/stylesheets/utils.less';

@menu-width: 300px;
@column: 5.55555%;

body {
  .position(absolute, 0, 0, 0, 0);
  background-color: #111;
  background-image: linear-gradient(to bottom, #111, #333 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  .position(absolute, 0, 0, 0, 0);

  @media screen and (min-width: 60em) {
    /*
    left: @column;
    right: @column;
    */
  }

  @media screen and (min-width: 80em) {
    /*
    left: 2*@column;
    right: 2*@column;
    */
  }

  // Hide anything offscreen
  overflow: hidden;
}

#menu {
  background: @color-supplementary;
  .position(absolute, 0, 0, 0, 0, @menu-width);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .logo {
    .font-l1;
    .type-light;
    color: #fff;
    margin: 1em 0;
    font-style: italic;
    font-size: 1.6em;
    height: 32px;
    line-height: 32px;
  }

  .logo-image {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    top: .3em;
    height: 32px;
    width: 32px;
  }

  .logo-trip {
    font-weight: bold;
  }
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tripcard {
  margin: 10px;
  padding: 16px;
  max-width: @menu-width;
  min-width: @menu-width;

  .trip-header {
    font-size: .9 !important;
    color: @color-alpha !important;

    .trip-category {
      float: left;
    }
    .trip-date {
      float: right;
    }
  }

  .trip-title {
    padding: 0 !important;
  }

  .trip-text {
    padding: 16px 0 !important;
    color: @color-supplementary !important;
    line-height: 2em !important;
  }

  .flag {
    text-align: center;

    img {
      width: 100%;
      padding-top: 16px;
    }
  }

  .budget {

    .progress-bar {
      margin: 5px 0 !important;
      height: 10px !important;
      border-radius: 5px !important;

      >div {
        background-color: @color-primary !important;
      }
    }

    .amount-raised {

    }

    .percent-remaining {
    }

    .days-left {
      float: right;
      color: @color-alpha;
    }
  }
}

#content-container {
  .position(absolute, 0, 0, 0, 0);
  transition: all 200ms ease-out;
  transform: translate3d(0, 0, 0);
  background: @color-tertiary;
  opacity: 1;

  @media screen and (min-width: 40em) {
    left: @menu-width;
  }

  .content-scrollable {
    .position(absolute, 0, 0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: url('/images/worldmapbg.png');
    background-size: cover;
    background-color: @color-ancillary;
  }

  // Toggle menu on mobile
  .menu-open & {
    transform: translate3d(@menu-width, 0, 0);
    opacity: .85;
    left: 0;

    @media screen and (min-width: 40em) {
      // Show menu on desktop, negate .menu-open
      transform: translate3d(0, 0, 0); //reset transform and use position properties instead
      opacity: 1;
      left: @menu-width;
    }
  }
}

#content-container.guest-container {
    left: 0;
    .content-scrollable {
      background: none;
    }

    .nav-group { display: none; }
}

// Transparent screen to prevent interactions on content when menu is open
.content-overlay {
  .position(absolute, 0, 0, 0, 0);
  cursor: pointer;

  .menu-open & {
    transform: translate3d(@menu-width, 0, 0);
    z-index: 1;
  }

  // Hide overlay on desktop
  @media screen and (min-width: 40em) { display: none; }
}
