// Core
// @color-primary: #2cc5d2; //caribbean teal (buttons)
@color-primary: #fcdf07;
// @color-secondary: #5db9ff; //cerulean blue (menu new list)
@color-secondary: #fff;
// @color-tertiary: #d2edf4; //muted teal (join/signin bg)
@color-tertiary: #1b1b1b;
// @color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
@color-ancillary: #f2f2f2;
@color-complementary: #778b91; //muted navy (add item placeholder)
@color-supplementary: #223442;

@color-alpha: rgba(0, 0, 0, 0.541176);
@color-beta: rgba(255, 255, 255, 0.8);

// Alert
@color-negative: #ff4400; //error, alert
@color-note: #f6fccf;

// Greyscale
@color-empty: white;
@color-raw: #f8f8f8;
@color-raw: #f2f2f2;
@color-rare: #eee;
@color-medium-rare: #ccc;
@color-medium: #aaa;
@color-medium-well: #999;
@color-well: #999;
@color-full: #333;
